{% extends 'main-layout.html' %}

{% block content %}
{% parent %}

<div class="container" style="padding-top: 80px">
	<div id="main-div" style="max-width: 613px">
		<h2>About</h2>
		<br/>
		<p>Reference site for Metaheuristic Explorer project at <a href="http://github.com/sebafonte">github.com/sebafonte</a>.</p>
		<p>Here you will find documentation and examples about metaheuristics and pseudo random structure altering experiments (images, visual inspection of mutations, etc).</p>
	</div>
	
	<br/>
	
	<div id="main-div" style="max-width: 613px;">
		<h2>Contact</h2>
		<br/>
		<p>Mail at <a href="mailto:sebafonte@gmail.com">sebafonte@gmail.com</a> and contribute if you love to code on Lisp or any metaheuristic.</p>
	</div>
</div>

{% endblock %}
