{% extends 'main-layout.html' %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="keywords" content="lisp, rgb, texture generation, genetic programming, webgl">

	{% block head %}
	{% parent %}
	{% endblock %}
  </head>

	<body>
		{% block content %}
		{% parent %}
   
		<div class="container" style="padding-top: 60px">
			<div>
				<div id="main-div" style="max-width: 613px;">
					<h1>Contact</h1>
					<br/>
					<p>Di Bart Di</p>
					<link rel="stylesheet" type="text/css" href="http://github.com/sebafonte">http://github.com/sebafonte<link>
				</div>
			</div>
		</div>
		
		{% endblock %}
	</body>
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}	
</html>