{% extends 'main-documentation-layout.html' %}

{% block documentation-body %}
	<h4>Languages</h4>
	
	<p>Problems may have one or more languages which usually define:
		<ul>
			<li>Internal object representation</li>
			<li>Associated structure altering operations</li>
		</ul>
	</p>

	<p>Code examples:
		<ul>
			<li><a href="https://github.com/sebafonte/MetaHeuristicExplorer/blob/master/Source/Model/Languages/parser-polynomial-expression.lisp">Code</a> example parser of a language for expressing polynomials</li>
		</ul>
	</p>
{% endblock %}
