{% extends 'main-layout.html' %}

{% block content %}
{% parent %}			
	<div class="container" style="padding-top: 60px">
	<div>
		<div id="main-div" style="max-width: 613px;">
			<h2>Downloads</h2>
			<br/>				
			<div>
				<b>Windows 32 bit executable, development version (console for debug)</b>
				<ul>
					<li><a href="gpexplorer-v025d.rar">gpexplorer-v025.rar</a></li>
				</ul>
			</div>
			<!--
			<div>
				<b>Linux</b>
				<ul>
					<li><a href="">Not yet!</a></li>
				</ul>
			</div>
			-->
		</div>
	</div>
{% endblock %}