{% extends 'main-layout.html' %}

<html lang="en">
	<body onload="startupDraw()">
		{% block content %}
		{% parent %}
			
		<div class="container" style="padding-top: 60px">
			<div>
				<div id="main-div" style="max-width: 615px; border: 1px solid lightgray">
					<div id="container-pdiv" class="view-container" style="margin-bottom: 5px">
					<div>
						<canvas id="parent0" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="parent1" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="parent2" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="parent3" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						</div>
					</div>
					<input type="submit" value="Operate" onclick="operate()" style="width: 100%; background-color: #5cb85c"/>
					<div id="container-cdiv" class="view-container" style="margin-top: 10px">
						<canvas id="child0" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child1" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child2" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child3" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child4" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child5" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child6" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child7" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>		
						<canvas id="child8" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child9" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>				
						<canvas id="child10" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="child11" width="150" height="150" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>		
					</div>
					<div id="comments-div" class="view-container">
						<form>
							<div>
								<div style="margin-top: 20px; padding-left: 15px">
									<div style="display: flex">
										<div>
											Object
											<select id="languages-select" onchange="changeLanguageClass()" value="lisp-math-function-xy" data-toggle="tooltip" data-placement="right" title="Images language" disabled>
												<option value="lisp-math-function-xy">lisp-math-function-xy</option>
												<option value="lisp-math-function-x">lisp-math-function-x</option>
												<option value="rgb-color-images-vector">rgb-color-images-vector</option>
											</select>
										</div>
										<div style="padding-left: 10px">
											Objective
											<select id="fitness-select" data-toggle="tooltip" data-placement="right" title="Fitness weight function" disabled>
												<option value="Function xy">None</option>
												<option value="Function x">Colorfull</option>
											</select>
										</div>
									</div>			
									<div style="display: flex">									
										<div style="margin-left: 5px">
											Max time
											<input id="max-time" type="text" value="1" data-toggle="tooltip" data-placement="right" title="Maximum time desired for each image" disabled/>
										</div>
										<div style="margin-left: 20px">
											Max size
											<input id="input-max-size" type="text" value="20" data-toggle="tooltip" data-placement="right" title="Maximum tree size" disabled/>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
		
	{% block mainscript %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>

	<div id="context_menu" style="border:1px solid black;background-color:#EEEEEE;visibility:hidden;position:absolute;line-height:30px; padding-left: 0px;">
		<div><input type="button" value="Open" onclick="menuCallbackPrefix(globalSelectedIndex, 0)" style="width: 100px"/></div>
		<div><input type="button" value="Like" onclick="menuCallbackPrefix(globalSelectedIndex, 1)" style="width: 100px"/></div>
		<div><input type="button" value="Dislike" onclick="menuCallbackPrefix(globalSelectedIndex, 2)" style="width: 100px"/></div>
		<div><input type="button" value="Send" onclick="menuCallbackPrefix(globalSelectedIndex, 3)" style="width: 100px"/ disabled></div>
	</div>
		
	<script>		
		var entitiesDictionary = {};
		var childCount = 12, parentCount = 4;
		var currentLanguage = document.getElementById("languages-select").value;
		
	
		function menuCallbackPrefix(name, index) {			
			if (index==0) {
				var url_safe_language = encodeURIComponent(currentLanguage);
				var url_safe_a = encodeURIComponent(entitiesDictionary[name][0]);
				var url_safe_b = encodeURIComponent(entitiesDictionary[name][1]);
				var url_safe_c = encodeURIComponent(entitiesDictionary[name][2]);
				var url = "/messageView?language=" + url_safe_language + "&a=" + url_safe_a + "&b=" + url_safe_b + "&c=" + url_safe_c;
				window.open (url, "Object inspect");
			}
			else if (index==1) {
				$.ajax({
						type : 'GET',
						url : "/messageLike",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Like call failed');
						}
					});			
			}
			else if (index==2) {
				$.ajax({
						type : 'GET',
						url : "/messageSend",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Send call failed');
						}
					});
			}
		}
		
		function operate() {
			for (var i=0; i< childCount; i++) {
				var canvasId = "child" + i.toString();
				
				if (Math.floor(Math.random() * 10) < 5)
					createFunctionCallMutateOn( 
						"parent" + Math.floor(Math.random() * parentCount).toString(),
						canvasId);
				else
					createFunctionCallCrossoverOn(
						"parent" + Math.floor((Math.random() * parentCount)).toString(), 
						"parent" + Math.floor((Math.random() * parentCount)).toString(),
						canvasId);
			}
		}
						
		var changeLanguageClass = function () {
			currentLanguage = document.getElementById("languages-select").value;
		}

		function allowDrop(ev) {
			ev.preventDefault();
		}
		
		function drag(ev) {
			ev.dataTransfer.setData("Text", JSON.stringify(entitiesDictionary[ev.target.id]));
		}
		
		function drop(ev) {
			ev.preventDefault();
			var result = JSON.parse(ev.dataTransfer.getData("Text"));
			entitiesDictionary[ev.target.id] = result;
			if (result=="default") alert("Default error");
			initWebGLBW(ev.target.id, result[1], result[2]);
			drawEntityImageBW();
		}
		
		function defaultError () {
			alert("Default error");
		}
		
		var startupDraw = function () {
			var htmlCode = "";
			for (var i=0; i< parentCount; i++) {
				var canvasId = "parent" + i.toString();
				createFunctionCallCreateDefault(canvasId);
			}	
		};
		
		function createFunctionCallCreateDefault(name) {
			createFunctionGeneric(name, { language: currentLanguage }, "/messageCreateDefault");
		}
		
		function createFunctionCallCreateRandom(name) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(name,	{ language: currentLanguage, maxSize: maxSize }, "/messageCreateRandom");
		}
		
		function createFunctionCallMutateOn(name, canvasId) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(canvasId,	{ language: currentLanguage, maxSize: maxSize, objectData: entitiesDictionary[name][0] }, "/messageMutate");
		}
		
		function createFunctionCallCrossoverOn(nameA, nameB, canvasId) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(
				canvasId,
				{ language: currentLanguage, maxSize: maxSize, objectDataA: entitiesDictionary[nameA][0], objectDataB: entitiesDictionary[nameB][0]},
				"/messageCrossover");
		}
		
		function createFunctionGeneric(canvasId, arguments, message) {
			$.ajax({
					type : 'GET',
					url : message,
					data : arguments,
					dataType : "text",
					success : function(data) {
						var result = data.split("|");
						entitiesDictionary[canvasId] = result;
						entitiesDictionary[canvasId][2] = "entity-bw";
						if (result[0]=="default") 
							defaultError();
						else
						{
							initWebGLBW(canvasId, result[1], result[2]);
							drawEntityImageBW();
						}
					},
					error : function(data) {
						console.log('Call failed');
				}
			});
		}
		
		function addParentCallBack(name) {
			$("#" + name)
				.click(function(evt) {
					for (var i=0; i< childCount; i++) {
						var canvasId = "child" + i.toString();
						createFunctionCallMutateOn(name, canvasId);
					}
				});
		};
		
		function initializeLanguages() {			
			$.ajax({
				type : 'GET',
				url : "/messageLanguages",
				dataType : "text",
				success : function(data) {
					var htmlCode = "";
					var values = data.split(" ");

					for (var i=0; i< values.length; i++)
						htmlCode += "<option value=\"" + values[i] + "\">" + values[i] + "</option>";
					document.getElementById("languages-select").innerHtml = htmlCode;
				},
				error : function(data) {
					console.log('Call failed');
				}
			});
		};
		
		initializeLanguages(); 
		addParentCallBack("parent0");
		addParentCallBack("parent1");
		addParentCallBack("parent2");
		addParentCallBack("parent3");
		initializeContextMenuOn("child", "context_menu", menuSetCallback);
		initializeContextMenuOn("parent", "context_menu", menuSetCallback);
	</script>
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>