{% extends 'main-layout.html' %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="keywords" content="lisp vrp vehicle routing webgl">

	{% block head %}
	{% parent %}
	{% endblock %}
  </head>

	<body onload="startupDraw()">
		{% block content %}
		{% parent %}
			
		<div class="container" style="padding-top: 60px">
			<h3>Black and white image search</h3>
			<div>
				<div id="main-div" style="max-width: 613px; border: 1px solid lightgray; display: block">
					<div>
						<div style="display: flex; border: 1px solid black; ">
							<div>
								<canvas style="border: 1px solid black;" id="parent0" width="270" height="270" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							</div>

							<div id="parent0-data" class="view-container">
								<form id="parent0-form">
								<!-- editors parent 0 -->
								</form>
							</div>
						</div>
						<div>
							<button id="start-search" type="button" onclick="startSearch()">
							  <span class="icon-bar" style="height: 18px"><i class="icon-play"></i></span>
							</button>
							<button id="stop-search" type="button" onclick="stopSearch()">
							  <span class="icon-bar" style="height: 18px"><i class="icon-stop"></i></span>
							</button>							
						</div>
					</div>
					<div style="display: block">
						<img src="1.bmp" border="2" width="80" onclick="setImage(0)" height="20" />
						<img src="2.bmp" border="2" width="80" onclick="setImage(1)" height="20" />
						<img src="3.bmp" border="2" width="80" onclick="setImage(2)" height="20" />
						<img src="4.bmp" border="2" width="80" onclick="setImage(3)" height="20" />
						<img src="5.bmp" border="2" width="80" onclick="setImage(4)" height="20" />
						<img src="6.bmp" border="2" width="80" onclick="setImage(5)" height="20" />
						<img src="7.bmp" border="2" width="80" onclick="setImage(6)" height="20" />						
					</div>
				</div>
			</div>
		</div>
		
		{% endblock %}
	</body>

	{% block mainscript %}
	{% parent %}
	<script src="server-interface.js"></script>
	<script src="property-editors.js"></script>
	<script src="utils.js"></script>
		
	<style>
		.editors-default-class {display: table-caption; margin-top: 20px; padding-left: 15px; }
	</style>
	
	<script>		
		var entities = {};
		// Monitoring properties
		var editableProperties = "(fitness-evaluator image-file)_" + 
								 "(fitness-evaluator points)_" + 
								 "(algorithm population-size)_" + 
								 "(algorithm max-generations)";
		var monitorProperties = "task-best-program-rgb_task-evaluations_best-fitness_running-time";
		var allProperties = editableProperties + "_" + monitorProperties;

		function registerObject(id, obj) {
			entities[id] = obj;
		}

		var startupDraw = function () {	
			//drawCanvas();
			//drawCanvas();
		};
		
		function drawCanvas(index) {
			initWebGLRGB(index, entities[index]);
			drawEntityImageRGB();
		}
		
		function initializeParameters(index) {
			// Get default object template for rgb image similarity task
			createFunctionGeneric(
				{ name: "default-image-task", properties: "(" + replaceAll("_", " ", allProperties) + ")" },
				"/messageGetDefault",
				function (data) {
					var parentId = "parent" + index.toString();
					// Register model values
					registerObject(parentId + "default-properties", data);
					// Create editors with values
					var newdiv = document.createElement("div");
					newdiv.id = parentId + "-editors";					
					newdiv.innerHTML = createEditorForProperties(parentId, data, allProperties, monitorProperties);
					newdiv.className = "editors-default-class";
					var container = document.getElementById(parentId + "-form");
					container.appendChild(newdiv);
					// Draw
					var canvas = document.getElementById(parentId);
					initWebGLRGB(parentId, entities[parentId]);
					drawEntityImageRGB();	
				});
		};
		
		function updateBestObject(parentId) {
			createFunctionGeneric(
				{ object: entities[parentId + "-task"], properties: "(" + replaceAll("_", " ", monitorProperties) + ")" },
				"/messageGetPropertyValue",
				function (data) {
					updateEditorsValue(parentId, data, monitorProperties);
					entities[parentId] = $("#editor-" + parentId + "-task-best-program-rgb")[0].value;
					drawCanvas(parentId);
				});
		}

		function startSearchParent(parentId) {
			// Deshabilitamos la interface para seguir buscando
			enableSearch(false);
			// Crea las tareas y guarda el identificador del servidor de estas
			createFunctionGeneric(
				{ name: "default-image-task", properties: "(" + propertiesFromEditors(parentId, editableProperties) + ")" },
				"/messageCreateTask",
				function (data) {
					var split = data.split("|");
					if (split[0]=="Task started") {
						// Register task identifier on server for configuration parentId
						registerObject(parentId + "-task", split[1]);
						// Setea un timer para refrescar su estalo localmente
						var timer = setInterval(function() { /* clearInterval(entities[parentId + "-timer"]); */ updateBestObject(parentId); }, 1000);
						registerObject(parentId + "-timer", timer);
					}
					else {
						enableSearch(true);
						alert(data);						
					}
				});
		}

		function stopSearchParent(parentId) {
			// Delete task for parentId
			document.getElementById("stop-search").disabled = true;
			document.getElementById("start-search").disabled = true;
			createFunctionGeneric(
				{ name: entities[parentId + "-task"] },
				"/messageDeleteTask",
				function (data) { enableSearch(true); });
			clearInterval(entities[parentId + "-timer"]);
		}

		function enableSearch (flag) {
			if (flag == true) {
				document.getElementById("start-search").style.display = ""; 
				document.getElementById("stop-search").style.display = "none"; 
				document.getElementById("start-search").disabled = false; 
				document.getElementById("stop-search").disabled = true; 
			}
			else {
				document.getElementById("start-search").style.display = "none"; 
				document.getElementById("stop-search").style.display = ""; 
				document.getElementById("start-search").disabled = true; 
				document.getElementById("stop-search").disabled = false; 
			}
		}
		
		function startSearch() {
			startSearchParent("parent0");
		}
		
		function stopSearch() {
			stopSearchParent("parent0");
		}
		
		function resetSearch() {
			initializeParameters(0);
			initializeParameters(1);
		}
		
		function setImage(value) {
			$("#editor-parent0-fitness-evaluator-image-file")[0].value = value; //$("#image-" + index)[0].value;
			stopSearch();
			startSearch();
		}
				
		resetSearch();
		enableSearch(true);
	</script>		
	{% endblock %}	
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}	
</html>
