{% extends 'main-layout.html' %}

<!DOCTYPE html>
<html>
<head>
	{% block head %}
	{% parent %}
	<title>Loading and playing a sound with the Web Audio API</title>
    <style>
        *{
            font-family: sans-serif;
        }
		
		.separator {
			width: 100px;
		}
		
		.label {
			width: 80px; height: 25px
		}
		.child {
			border: 1px solid gray;
		}
		
		.variable-graphic {
			width: 512px;
			height: 25px;
			margin-top: 1px;
			border: 1px solid gray
		}
    </style>

	{% endblock %}
</head>

<body onload="startupDraw()">
	{% block content %}
	{% parent %}
	<h1>RGB Mixer</h1>	

	<div style="display: block">
		<h3>Samples</h3>	
		<div style="display: flex">
			<div>
			<canvas id="parent0" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<canvas id="parent1" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<canvas id="parent2" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<canvas id="parent3" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<canvas id="parent4" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<canvas id="parent5" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<canvas id="parent6" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			</div>
			=>
			<div style="display: block">
				<div style="display: flex">
					<canvas id="child0" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child1" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child2" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child3" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child4" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child5" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child6" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					<canvas id="child7" class="child" width="64" height="64" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
				</div>
			</div>
		</div>
		
		<div style="display: block">
			<h3>Result</h3>
			<canvas id="result" class="child" width="256" height="256" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
		</div>
	</div>

	<div>
		<div>
			<h3>Options</h3>
			<div style="display: block">
			<div>
				<div style="display: flex">
					<input type="checkbox" name="play-sound-check" value="" checked>Play sound</div>
					<button id="reset-time" type="button" onclick="resetTime()">
						<div style="display: flex">
							<span class="icon-bar" style="padding-right: 5px"><i class="icon-stop"></i></span>
							<p style="height: 10px">Reset time</p>
						</div>
					</button>
					<button id="save-set" type="button" onclick="saveSet()">
						<div style="display: flex">
							<span class="icon-bar" style="padding-right: 5px"><i class="icon-play"></i></span>
							<p style="height: 10px">Save set</p>
						</div>
					</button>
					
					<button id="save-set" type="button" onclick="setSequence()">
						<div style="display: flex">
							<span class="icon-bar" style="padding-right: 5px"><i class="icon-random"></i></span>
							<p style="height: 10px">Sequence</p>
						</div>
					</button>
					<button id="save-set" type="button" onclick="setRandom()">
						<div style="display: flex">
							<span class="icon-bar" style="padding-right: 5px"><i class="icon-random"></i></span>
							<p style="height: 10px">Random</p>
						</div>
					</button>
				</div>
				<div style="padding-top: 10px">
					<div style="display: flex">
						<div class="label">Frame time</div>
						<input type="text" value="0.0" onblur="setTime()" />
					</div>	
					<div style="display: flex">
						<div class="label">Set number</div>
						<input type="text" value="0.0" onblur="setTime()" />
					</div>	
				</div>
				<div style="width: 100%">
					<div style="display: flex">
					<div class="label">				
						Max size
					</div>
					<div>
					<input id="input-max-size" type="text" value="30" data-toggle="tooltip" data-placement="right" title="Maximum tree size"/>
					</div>
					<div>
				</div>
			</div>	
		</div>
	</div>
	{% endblock %}
	
	{% block mainscript %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>
		
	<script type="text/javascript">
		var sourceNode;
		var javascriptNode;
		var analyser, analyser2;
		
		function allowDrop(ev) {
			ev.preventDefault();
		}

		function resetTime() {
			resetTimer();
			resetMusic("http://gpexplorer.ddns.net/sample-randy.mp3");
		}
		
		function saveSet() {
			var result = [];
			for (var i=0; i< parentCount; i++)
				result.push([entitiesDictionary["parent" + i]]);
			result = JSON.stringify(result);
			
			$.ajax({
				type : 'GET',
				url : "/messageSaveInterpolation",
				data : { entities: result, interpolation: "sequential"},
				dataType : "text",
				success : function(data) {
					var url = "/setInterpolation?entities=" + data;
					window.open(url, "Object inspect");
				},
				error : function(data) {
					console.log('Call failed');
				}
			});
		}

		function drag(ev) {
			ev.dataTransfer.setData("Text", JSON.stringify(entitiesDictionary[ev.target.id]));
		}
		
		function drop(ev) {
			ev.preventDefault();
			var result = JSON.parse(ev.dataTransfer.getData("Text"));
			entitiesDictionary[ev.target.id] = result;
			if (result=="default") alert("Default error");
			initWebGLRGBAnimateSound(ev.target.id, result[1]);
			drawEntityImageRGBAnimateSound();
		}
		
		function color(ctx) {
			return '#000000';
		}
		
		var entitiesDictionary = {};
		var parentCount = 7, childCount = 8;
		var currentLanguage = "rgb-sound-vector";
		var variableValues = {};
		
		function createFunctionGeneric(canvasId, arguments, message) {
			$.ajax({
				type : 'GET',
				url : message,
				data : arguments,
				dataType : "text",
				success : function(data) {
					var result = data.split("|");
					entitiesDictionary[canvasId] = result;
					result[2] = "entity-rgb-animate";
					initWebGLRGBAnimateSound(canvasId, result[1]);
					drawEntityImageRGBAnimateSound();
				},
				error : function(data) {
					console.log('Call failed');
				}
			});
		}
		
		function createFunctionCallCreateDefault(name) {
			createFunctionGeneric(name, { language: "rgb-color-images-vector" }, "/messageCreateDefault");
		}
		
		function createFunctionCallMutateOn(name, canvasId) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(canvasId,	{ language: currentLanguage, maxSize: maxSize, objectData: entitiesDictionary[name][0] }, "/messageMutate");
		}
		
		function createFunctionCallCreateRandom(name) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(name,	{ language: currentLanguage, maxSize: maxSize }, "/messageCreateRandom");
		}
		
		function createFunctionCallSaveEntitiesDictionary(name) {
			$.ajax({
				type : 'GET',
				url : "/messageSaveEntitiesDictionary",
				data : { values: entities, interpolation: "random" },
				dataType : "text",
				success : function(data) {
					console.log(data);
				},
				error : function(data) {
					console.log('Call failed');
				}
			});
		}
		
		function createFunctionCallSaveInterpolation() {
			$.ajax({
				type : 'GET',
				url : "/messageSaveInterpolation",
				data : { entities: entities, interpolation: "random"},
				dataType : "text",
				success : function(data) {
					console.log(data);
				},
				error : function(data) {
					console.log('Call failed');
				}
			});
		}
		
		function addParentCallBack(name) {
			$("#" + name)
				.click(function(evt) {
					for (var i=0; i< childCount; i++) {
						var canvasId = "child" + i.toString();
						createFunctionCallMutateOn(name, canvasId, false);
					}
				});
		}
		
		function addChildCallBack(name) {
			$("#" + name)
				.click(function(evt) {
					for (var i=0; i< childCount; i++) {
						var canvasId = "child" + i.toString();
						if (name != canvasId)
							createFunctionCallMutateOn(name, canvasId, false);
					}
				});
		}
				
		function startupDraw() {
			var htmlCode = "";
			for (var i=0; i< parentCount; i++)
				createFunctionCallCreateRandom("parent" + i.toString(), true);
			for (var i=0; i< childCount; i++)
				createFunctionCallCreateRandom("child" + i.toString());
			
			setInterval(
				function () {				
					for (var i=0; i< childCount; i++) {
						var id = "child" + i;
						if (entitiesDictionary[id]) {
							initWebGLRGBAnimateSound(id, entitiesDictionary[id][1], entitiesDictionary[id][2]);
							drawEntityImageRGBAnimateSound();
						}
					}
					
					for (var i=0; i< parentCount; i++) {
						var id = "parent" + i;
						if (entitiesDictionary[id]) {
							initWebGLRGBAnimateSound(id, entitiesDictionary[id][1], entitiesDictionary[id][2]);
							drawEntityImageRGBAnimateSound();
						}
					}
										
					var id = "result";
					initWebGLRGBInterpolatedAnimate(id, 
						[[entitiesDictionary["parent0"][1], entitiesDictionary["parent0"][2]], 
						 [entitiesDictionary["parent1"][1], entitiesDictionary["parent1"][2]],
						 [entitiesDictionary["parent2"][1], entitiesDictionary["parent2"][2]],
						 [entitiesDictionary["parent3"][1], entitiesDictionary["parent3"][2]],
						 [entitiesDictionary["parent4"][1], entitiesDictionary["parent4"][2]],
						 [entitiesDictionary["parent5"][1], entitiesDictionary["parent5"][2]],
						 [entitiesDictionary["parent6"][1], entitiesDictionary["parent6"][2]]
						]);
					drawEntityImageRGBInterpolatedAnimate();					
				}, 
				150);
				
				initializeContextMenuOn("child", "context_menu", menuSetCallback);
				initializeContextMenuOn("parent", "context_menu", menuSetCallback);
		};
		
		function menuCallbackPrefix(name, index) {			
			if (index==0) {
				var url_safe_language = encodeURIComponent(currentLanguage);
				var url_safe_a = encodeURIComponent(entitiesDictionary[name][0]);
				var url_safe_b = encodeURIComponent(entitiesDictionary[name][1]);
				var url_safe_c = encodeURIComponent(entitiesDictionary[name][2]);
				var url = "/messageView?language=" + url_safe_language + "&a=" + url_safe_a + "&b=" + url_safe_b + "&c=" + url_safe_c;				
				window.open (url, "Object inspect");
			}
			else if (index==1) {
				$.ajax({
						type : 'GET',
						url : "/messageLike",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Like call failed');
						}
					});			
			}
			else if (index==2) {
				$.ajax({
						type : 'GET',
						url : "/messageDislike",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Dislike call failed');
						}
					});			
			}
			else if (index==3) {
				$.ajax({
						type : 'GET',
						url : "/messageSend",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Send call failed');
						}
					});
			}
		}
		
		addParentCallBack("parent0");
		addParentCallBack("parent1");
		addParentCallBack("parent2");
		addParentCallBack("parent3");
		addParentCallBack("parent4");
		addParentCallBack("parent5");
		addParentCallBack("parent6");
		
		addChildCallBack("child0");
		addChildCallBack("child1");
		addChildCallBack("child2");
		addChildCallBack("child3");
		addChildCallBack("child4");
		addChildCallBack("child5");
		addChildCallBack("child6");
		addChildCallBack("child7");
		initializeInterpolation(parentCount);
	</script>
	
	<div id="context_menu" style="border:1px solid black;background-color:#EEEEEE;visibility:hidden;position:absolute;line-height:30px; padding-left: 0px;">
		<div><input type="button" value="Open" onclick="menuCallbackPrefix(globalSelectedIndex, 0)" style="width: 100px"/></div>
		<div><input type="button" value="Like" onclick="menuCallbackPrefix(globalSelectedIndex, 1)" style="width: 100px"/></div>
		<div><input type="button" value="Dislike" onclick="menuCallbackPrefix(globalSelectedIndex, 2)" style="width: 100px"/></div>
		<div><input type="button" value="Send" onclick="menuCallbackPrefix(globalSelectedIndex, 3)" style="width: 100px"/ disabled></div>
	</div>
	{% endblock %}
</body>

{% block footerscript %}
{% parent %}
{% endblock %}
</html>