{% extends 'main-layout.html' %}
<title>{% block title %}Intro skeleton{% endblock %}</title>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Intro skeleton description">
		<meta name="author" content="Pungas de Villa Martelli (2015)">
		<meta name="keywords" content="Intro skeleton">
		
		{% block head %}
			<script src="jquery-1.11.1.min.js"></script>
			<link href="bootstrap.min.css" rel="stylesheet">
			<link href="site.css" rel="stylesheet">
			<script src="csi.min.js"></script>
			<script src="utils.js"></script>		
			<script src="glMatrix-0.9.5.min.js"></script>
			<script type="text/javascript" src="libxmp.js"></script>
			<script type="text/javascript" src="chiptune.js"></script>
			<script type="text/javascript" src="entity-background.js"></script>
			<script type="text/javascript" src="entity-text-effect.js"></script>
			<script type="text/javascript" src="entity-labels-effect.js"></script>
			<script type="text/javascript" src="scene-sequencer.js"></script>
			<script type="text/javascript" src="scenes.js"></script>
			<script type="text/javascript" src="text-sequencer.js"></script>
			<script type="text/javascript" src="fonts-animation.js"></script>
			<script type="text/javascript" src="intro.js"></script>
		{% endblock %}
	</head>
  
	<body onload="startupDraw()" style="background-color: black"  onkeydown="handleKeyDown()">
		{% block content %}
		{% parent %}
		<div>
			<div id="divTextureCanvas" style="display: none">
				<canvas id="textureCanvas" width="512" height="512" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			</div>
			<div id="cosita">
				<div class="container" style="padding-top: 60px">
					<div id="main-div">
					<input style="display: none">
						<canvas id="glCanvas" width="650" height="650" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" onclick="makeFullscreen()" style="width: 70%" ></canvas>
					</input>
					<p>Click on image for fullscreen.</p>
					</div>
				</div>
			</div>
		</div>
		
		{% endblock %}
	</body>

	{% block mainscript %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>	
	
	<script>		
		var context;
		var player;
		var intro;
		var gl;
		
		function initChiptuneJs() {
			// Support webkit-prefix for chrome (and friends)
			if (window.webkitAudioContext !== undefined) {
				AudioContext = webkitAudioContext;
			}
			// Support moz-prefix for Firefox (and friends)
			if (window.mozAudioContext !== undefined) {
				AudioContext = mozAudioContext;
			}

			context = new AudioContext();
			player = new ChiptunePlayer(context.destination);

			try { player.unload(); } catch(err) {};
			player.load("mysteristerium.mod", false, function() {
				player.play();
			})
		}
		
		function takeOutFull() {
			var div = document.getElementById("cosita");
			div.innerHTML =
				"<div class=\"container\" style=\"padding-top: 60px\">" + 
				"<div id=\"main-div\">" + 
				"<input style=\"display: none\">" + 
				"	<canvas id=\"glCanvas\" width=\"{{ width }}\" height=\"{{ height }}\" draggable=\"true\" ondragstart=\"drag(event)\" ondragover=\"allowDrop(event)\" ondrop=\"drop(event)\" onclick=\"makeFullscreen()\" style=\"width: 70%\" +  ></canvas>" + 
				"</input>" + 
				"<p>Click on image for fullscreen, arrows and ctrl+arrows to control.</p>" +
				"</div>" + 
				"</div>";
			
			if (document.exitFullscreen) {
			  document.exitFullscreen();
			} else if (document.msExitFullscreen) {
			  document.msExitFullscreen();
			} else if (document.mozCancelFullScreen) {
			  document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
			  document.webkitExitFullscreen();
			}				
			
			var elem = document.getElementById("glCanvas");
			initGLTextLogo(elem, "glCanvas");
			initGLText("glCanvas", "Verdana");	
		} 
		
		function makeFullscreen() {
			var div = document.getElementById("cosita");
			div.innerHTML =
				"<div style=\"display: block\"> " + 
				"<div id=\"divResult\" > " + 
				"	<canvas id=\"glCanvas\" width=\"{{ width }}\" height=\"{{ height }}\" onclick=\"takeOutFull()\" draggable=\"true\" ondragstart=\"drag(event)\" ondragover=\"allowDrop(event)\" ondrop=\"drop(event)\" style=\"width: " + window.screen.availWidth + "px; height: " + window.screen.availHeight + "px\"></canvas> " + 
				"</div>" + 
				"</div>";

			var elem = document.getElementById("glCanvas");
			initGLTextLogo(elem, "glCanvas");
			initGLText("glCanvas", "Verdana");			
			if (elem.requestFullscreen) {				elem.requestFullscreen();		}
			else if (elem.msRequestFullscreen) {		elem.msRequestFullscreen();		}
			else if (elem.mozRequestFullScreen) {		elem.mozRequestFullScreen();	}
			else if (elem.webkitRequestFullscreen) {	elem.webkitRequestFullscreen();	}
		}
		
		function updateValues() {
			if (prevX != null) {
				globalXRef += difX;
				globalYRef += difY;
				difX = 0.0;
				difY = 0.0;
			}
		}
			
		function startupDraw () {
			var canvas = document.getElementById("glCanvas");
			initGL(canvas);
			intro = new Intro();
			intro.initialize(gl, "textureCanvas");
			intro.render(canvas);
			initChiptuneJs();
		}
		
		
		function initGL(canvas) {
			try {
				gl = canvas.getContext("experimental-webgl");
				gl.viewportWidth = canvas.width;
				gl.viewportHeight = canvas.height;
			}
			catch (e) {
			}
			if (!gl) {
				alert("Could not initialise WebGL");
			}
		}
	</script>	
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>



