{% extends 'main-layout.html' %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Animation of rgb vectors example.">
    <meta name="author" content="">
	<meta name="keywords" content="lisp, rgb, texture generation, animation, webgl">

	{% block head %}
	{% parent %}
	{% endblock %}
	</head>

	<body onload="startupDraw()">
		{% block content %}
		{% parent %}
			
		<div class="container" style="padding-top: 60px; width: 1042px">
			<div id="main-div" style="border-left: 1px solid lightgray; display: flex">
				<div style="width: 620px">
					<div id="container-parents-div" class="view-container" style="margin-bottom: 5px; display">
						<canvas id="parent0" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="parent1" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>			
						<canvas id="parent2" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="parent3" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						<canvas id="parent4" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					</div>
					<div style="display: flex">
						<input type="submit" value="Operate" onclick="operate()" style="width: 100%; background-color: #5cb85c"/>
						<!--<input type="submit" value="Add time var" onclick="operateAddVar()" style="width: 50%; background-color: #5cb85c"/>-->
					</div>
					<div id="container-children-div" class="view-container" style="margin-bottom: 5px; display">
						<div>
							<canvas id="child0" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child1" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child2" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child3" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child4" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child5" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child6" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child7" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child8" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
							<canvas id="child9" width="120" height="120" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
						</div>
					</div>
					<input type="submit" value="Randomize" onclick="randomize()" style="width: 100%; background-color: #5cb85c"/>
					<div id="container-animation-div" class="view-container" style="margin-top: 10px">
						<canvas style="padding-left: 190px" id="animation" width="240" height="240" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
					</div>
				</div>
				<div id="parameters-div" class="view-container" style="border: 1px solid lightgray;">
					<form>
						<div>
							<div style="margin-top: 10px; padding-left: 5px; padding-right: 5px">
								<div style="display: table">
									<div>
										Object
										<select id="languages-select" onchange="changeLanguageClass()" value="rgb-color-images-vector" style="width: 260px; margin-right: 10px">
											<option value="rgb-color-images-vector-time">rgb-color-images-vector-time</option>
											<option value="rgb-color-images-vector">rgb-color-images-vector</option>											
											<option value="lisp-math-function-xy">lisp-math-function-xy</option>
											<option value="lisp-math-function-x">lisp-math-function-x</option>
										</select>
									</div>
									<div style="display: flex">
										<div style="display: block">
											<div style="padding: 10px; border: 1px solid lightgray; max-width: 170px;">
												<h6>Time</h6>
												<div>
													<button id="start-time" type="button" onclick="startTime()">
														<span class="icon-bar" style="height: 18px"><i class="icon-play"></i></span>
													</button>
													
													<button id="stop-time" type="button" onclick="stopTime()">
														<span class="icon-bar" style="height: 18px"><i class="icon-stop"></i></span>
													</button>
													
													<button id="reset-time" type="button" onclick="resetTime()" style="width: 100px; height: 24px; margin-top: 1px">
														<div style="display: flex">
															<span class="icon-bar" style="height: 18px"><i class="icon-stop"></i></span>
															<p>Reset time</p>
														</div>
													</button>
												</div>
												<div style="padding-top: 10px">
													<div style="display: flex">
														<div>Value</div>
														<input type="text" value="0.0" onblur="setTime()" style="width: 100px"/>
													</div>	
													<div style="display: flex">				
														<div>Delta</div>
														<input type="text" value="0.1" onblur="setDeltaTime()" style="width: 100px" />
													</div>	
												</div>
											</div>
											<div style="padding: 10px; border: 1px solid lightgray; max-width: 170px;">
												<h6>Interpolator</h6>
												<div>
													<select id="languages-select" onchange="changeLanguageClass()" value="rgb-color-images-vector" style="margin-right: 10px; max-width: 160px">
														<option value="lisp-math-function-x">default</option>
													</select>
												</div>
												<div style="padding-top: 10px">
													<div style="display: flex">				
														<div>Delta</div>
														<input type="text" value="0.1" onblur="setDeltaTime()" style="width: 100px" />
													</div>	
												</div>
											</div>		
										</div>												
										<div style="padding: 10px; border: 1px solid lightgray; width: 160px;">
											<div style="max-width: 100px;">
												<h6>Operations</h6>
												<select name="Operations" style="max-width: 160px; height: 62px" size="2" multiple>
												  <option value="crossover-cfg">crossover-cfg</option>
												  <option value="mutation-cfg">mutation-cfg</option>
												  <option value="branch-delete-cfg">branch-delete-cfg</option>
												</select>
											</div>
											<div style="max-width: 100px;" size="3">
												<h6>Functions</h6>
												<select name="Operations" style="max-width: 160px; height: 62px;" size="3" multiple>
												  <option value="generic">Generic abs tan cos</option>
												  <option value="saab">Dissolve</option>
												  <option value="opel">Noise</option>
												</select>
											</div>									
										</div>		
									</div>	
									<div style="padding: 10px; border: 1px solid lightgray;">
										<h6>Tree shape</h6>
										<div style="width: 100%">
											Max size
											<input id="input-max-size" type="text" value="30" data-toggle="tooltip" data-placement="right" title="Maximum tree size"/>
										</div>
										Inyect with directed crossover
										<div>
											<textarea id="inject-expression"class="form-control" rows="3" style="width: 100%" data-toggle="tooltip" data-placement="right" title="Expression to be inyected used directed crossover cfg. Add here expressions with subtrees you want to be inserted randomly.">(createvector time time time)</textarea>
										</div>
										<input type="button" value="Inject" onclick="inject()" style="width: 100%; background-color: #5cb85c"/>
									</div>
								</div>			
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
	
	{% block mainscript %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>	
	
	<script>		
		var entitiesDictionary = {};
		var parentCount = 5, childCount = 10;
		var currentLanguage = "lisp-math-function-xy";
				
		function operate() {
			for (var i=0; i< childCount; i++) {
				var canvasId = "child" + i.toString();
				
				if (Math.floor(Math.random() * 10) < 5)
					createFunctionCallMutateOn( 
						"parent" + Math.floor(Math.random() * parentCount).toString(),
						canvasId);
				else
					createFunctionCallCrossoverOn(
						"parent" + Math.floor((Math.random() * parentCount)).toString(), 
						"parent" + Math.floor((Math.random() * parentCount)).toString(),
						canvasId);
			}
		}

		function inject() {
			for (var i=0; i< childCount; i++) {
				var parentCanvasId = "parent" + Math.floor((Math.random() * parentCount)).toString();
				var maxSize = document.getElementById("input-max-size").value;
				var expression = document.getElementById("inject-expression").value;
				createFunctionGeneric(
					"child" + i.toString(),
					{ language: currentLanguage, maxSize: maxSize, objectDataA: expression, objectDataB: entitiesDictionary[parentCanvasId][0]},
					"/messageCrossover");
			}
		}
		
		function operateAddVar() {
			for (var i=0; i< childCount; i++)
				createFunctionCallMutateAddVarOn( 
					"parent" + Math.floor(Math.random() * parentCount).toString(),
					canvasId);
		}

		function allowDrop(ev) {
			ev.preventDefault();
		}

		function drag(ev) {
			ev.dataTransfer.setData("Text", JSON.stringify(entitiesDictionary[ev.target.id]));
		}
		
		function drop(ev) {
			ev.preventDefault();
			var result = JSON.parse(ev.dataTransfer.getData("Text"));
			entitiesDictionary[ev.target.id] = result;
			if (result=="default") alert("Default error");
			initWebGLTextLogo(ev.target.id, result[1]);
			drawEntityImageTextLogo();
		}
				
		var startupDraw = function () {
			var htmlCode = "";
			for (var i=0; i< parentCount; i++)
				createFunctionCallCreateRandom("parent" + i.toString());
			for (var i=0; i< childCount; i++)
				createFunctionCallCreateRandom("child" + i.toString());
			
			setInterval(
				function () {				
					for (var i=0; i< childCount; i++) {
						var id = "child" + i;
						if (entitiesDictionary[id]) {
							initWebGLTextLogo(id, entitiesDictionary[id][1], entitiesDictionary[id][2]);
							drawEntityImageTextLogo();
						}
					}
					
					for (var i=0; i< parentCount; i++) {
						var id = "parent" + i;
						if (entitiesDictionary[id]) {
							initWebGLTextLogo(id, entitiesDictionary[id][1], entitiesDictionary[id][2]);
							drawEntityImageTextLogo();
						}
					}
					
					var id = "animation";
					if (entitiesDictionary[id]) {
						initWebGLTextLogo(id, entitiesDictionary[id][1], entitiesDictionary[id][2]);
						drawEntityImageTextLogo();					
					}
				}, 
				100);
		};
		
		function createFunctionCallCreateDefault(name) {
			createFunctionGeneric(name, { language: currentLanguage }, "/messageCreateDefault");
		}
		
		function createFunctionCallCreateRandom(name) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(name,	{ language: currentLanguage, maxSize: maxSize }, "/messageCreateRandom");
		}
		
		function createFunctionCallMutateOn(name, canvasId) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(canvasId,	{ language: currentLanguage, maxSize: maxSize, objectData: entitiesDictionary[name][0] }, "/messageMutate");
		}
		
		function createFunctionCallMutateAddVarOn(name, canvasId) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(canvasId,	{ language: currentLanguage, maxSize: maxSize, objectData: entitiesDictionary[name][0] }, "/messageMutateAddVar");
		}
		
		function createFunctionCallCrossoverOn(nameA, nameB, canvasId) {
			var maxSize = document.getElementById("input-max-size").value;
			createFunctionGeneric(
				canvasId,
				{ language: currentLanguage, maxSize: maxSize, objectDataA: entitiesDictionary[nameA][0], objectDataB: entitiesDictionary[nameB][0]},
				"/messageCrossover");
		}
		
		function createFunctionGeneric(canvasId, arguments, message) {
			$.ajax({
					type : 'GET',
					url : message,
					data : arguments,
					dataType : "text",
					success : function(data) {
						var result = data.split("|");
						entitiesDictionary[canvasId] = result;
						result[2] = "entity-text-logo";
						$.ajax({
							type : 'GET',
							url : message,
							data : arguments,
							dataType : "text",
							success : function(data) {
								var result = data.split("|");
								entitiesDictionary[canvasId].append(result);
								initWebGLTextLogo(canvasId, result[1], result[3]);
								drawEntityImageTextLogo();
							},
							error : function(data) {
								console.log('Call failed');
							}
						},
					error : function(data) {
						console.log('Call failed');
					}
				});

			});
		}
		
		function addParentCallBack(name) {
			$("#" + name)
				.click(function(evt) {
					for (var i=0; i< childCount; i++) {
						var canvasId = "child" + i.toString();
						createFunctionCallMutateOn(name, canvasId);
					}
				});
		}
		
		function initializeLanguages() {			
			$.ajax({
				type : 'GET',
				url : "/messageLanguages",
				dataType : "text",
				success : function(data) {
					var htmlCode = "";
					var values = data.split(" ");
					for (var i=0; i< values.length; i++)
						htmlCode += "<option value=\"" + values[i] + "\">" + values[i] + "</option>";
					document.getElementById("languages-select").innerHtml = htmlCode;
				},
				error : function(data) {
					console.log('Call failed');
				}
			});
		}
		
		function menuCallbackPrefix(name, index) {			
			if (index==0) {
				var url_safe_language = encodeURIComponent(currentLanguage);
				var url_safe_a = encodeURIComponent(entitiesDictionary[name][0]);
				var url_safe_b = encodeURIComponent(entitiesDictionary[name][1]);
				var url_safe_c = encodeURIComponent(entitiesDictionary[name][2]);
				var url = "/messageView?language=" + url_safe_language + "&a=" + url_safe_a + "&b=" + url_safe_b + "&c=" + url_safe_c;				
				window.open (url, "Object inspect");
			}
			else if (index==1) {
				$.ajax({
						type : 'GET',
						url : "/messageLike",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Like call failed');
						}
					});			
			}
			else if (index==2) {
				$.ajax({
						type : 'GET',
						url : "/messageDislike",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Dislike call failed');
						}
					});			
			}
			else if (index==3) {
				$.ajax({
						type : 'GET',
						url : "/messageSend",
						data : { language: currentLanguage, a: entitiesDictionary[name][0], b: entitiesDictionary[name][1], c: entitiesDictionary[name][2]},
						dataType : "text",
						success : function(data) { },
						error : function(data) {
							console.log('Send call failed');
						}
					});
			}
		}
		
		function resetTime() {
			globalTime = 0.0;
		}
		
		function stopTime() {
			deltaTime = 0.0;
		}
		
		function startTime() {
			deltaTime = 0.1;
		}
		
		function setDeltaTime() {
			deltaTime = document.getElementByID("set-delta-time");
		}

		function setTime() {
			globalTime = document.getElementByID("set-time");
		}
		
		initializeLanguages(); 
		addParentCallBack("parent0");
		addParentCallBack("parent1");		
		addParentCallBack("parent2");
		addParentCallBack("parent3");	
		addParentCallBack("parent4");
		initializeContextMenuOn("child", "context_menu", menuSetCallback);
		initializeContextMenuOn("parent", "context_menu", menuSetCallback);
		initializeContextMenuOn("animation", "context_menu", menuSetCallback);
	</script>		
	
	<div id="context_menu" style="border:1px solid black;background-color:#EEEEEE;visibility:hidden;position:absolute; padding-left: 0px;">
		<div><input type="button" value="Open" onclick="menuCallbackPrefix(globalSelectedIndex, 0)" style="width: 100px"/></div>
		<div><input type="button" value="Like" onclick="menuCallbackPrefix(globalSelectedIndex, 1)" style="width: 100px"/></div>
		<div><input type="button" value="Dislike" onclick="menuCallbackPrefix(globalSelectedIndex, 2)" style="width: 100px"/></div>
		<div><input type="button" value="Send" onclick="menuCallbackPrefix(globalSelectedIndex, 3)" style="width: 100px"/ disabled></div>
	</div>
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>