{% extends 'main-layout.html' %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="keywords" content="lisp, rgb, texture generation, webgl">
	
	{% block head %}
	{% parent %}
	{% endblock %}
  </head>

	<body onload="startupDraw()" style="background-color: black">
		{% block content %}
		{% parent %}

		<div class="container" style="padding-top: 60px">
			<div id="main-div">
				<canvas id="parent0" width="650" height="650" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" style="width: 70%" ></canvas>
			</div>
		</div>
		{% endblock %}
	</body>

	{% block mainscript %}
	
	<div id="context_menu" style="width:150px;border:1px solid black;background-color:#EEEEEE;visibility:hidden;position:absolute;line-height:30px; padding-left: 10px">
		<a href="/view.html">Open</a><br />
		<a href="/index.html">Like</a><br />
		<a href="/index.html">Send</a><br />
	</div>
	
	<script>		
		var entitiesDictionary = {parent0: ["#A#", "#B#", "#C#"]};
		var currentLanguage = "#LANGUAGE#";

		function allowDrop(ev) {
			ev.preventDefault();
		}

		function drag(ev) {
			ev.dataTransfer.setData("Text", JSON.stringify(entitiesDictionary[ev.target.id]));
		}
		
		function drop(ev) {
			ev.preventDefault();
			var result = JSON.parse(ev.dataTransfer.getData("Text"));
			entitiesDictionary[ev.target.id] = result;
			
			if (result[2] == "entity-bw") {
				initWebGLBW(ev.target.id, result[1]);
				drawEntityImageBW();
			}
			else if (result[2] == "entity-rgb") {
				initWebGLRGB(ev.target.id, result[1]);
				drawEntityImageRGB();
			}
			else if (result[2] == "entity-rgb-animate") {
				initWebGLRGBAnimate("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageRGBAnimate();
			}
			else if (result[2] == "entity-rgb-animate-interpolation") {
				initWebGLRGBInterpolatedAnimate("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageRGBInterpolatedAnimate();
			}			
		}
		
		var startupDraw = function () {
			if (entitiesDictionary["parent0"][2] == "entity-bw") {
				initWebGLBW("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageBW();
			}
			else if (entitiesDictionary["parent0"][2] == "entity-rgb") {
				initWebGLRGB("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageRGB();
			}
			else if (entitiesDictionary["parent0"][2] == "entity-rgb-animate") {
				initWebGLRGBAnimate("parent0", entitiesDictionary["parent0"][1]);
				setInterval(
				function () {				
					initWebGLRGBAnimate("parent0", entitiesDictionary["parent0"][1]);
					drawEntityImageRGBAnimate();
				}, 
				100);	
			}		
		};
		
		//initializeContextMenuOn("parent", "context_menu");
	</script>
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>