{% extends 'main-layout.html' %}
<title>{% block title %}Expressions explorer view{% endblock %}</title>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="lisp, rgb, texture generation, webgl">
		
		{% block head %}
		{% parent %}
		{% endblock %}
	</head>
  
	<body onload="startupDraw()" style="background-color: black"  onkeydown="handleKeyDown()">
		{% block content %}
		{% parent %}
		<div>
			<div id="divTextureCanvas" style="display: none">
				<canvas id="textureCanvas" width="512" height="512" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			</div>
			<div id="cosita">
				<div class="container" style="padding-top: 60px">
					<div id="main-div">
					<input style="display: none">
						<canvas id="parent0" width="650" height="650" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" onclick="makeFullscreen()" style="width: 70%" ></canvas>
					</input>
					<p>Click on image for fullscreen, arrows and ctrl+arrows to control.</p>
					</div>
				</div>
			</div>
		</div>
		
		{% endblock %}
	</body>

	{% block mainscript %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>	
	<script src="text.js"></script>	
	<!--<script src="mousecapture.js"></script>-->
	
	<div id="context_menu" style="width:150px;border:1px solid black;background-color:#EEEEEE;visibility:hidden;position:absolute;line-height:30px; padding-left: 10px">
		<a href="/view.html">Open</a><br />
		<a href="/index.html">Like</a><br />
		<a href="/index.html">Send</a><br />
	</div>
	
	<script>		
		var entitiesDictionary = {
			parent0: ["#A#", "#B#", "#C#", "#D#", "#E#"],
			"subA": "VECSUBSTRACT(VECTAN(CREATEVECTOR(0.4826,0.3995,0.1524)),VECMULTIPLY(VECCOS(VECSQR(VECTAN(VECDIV(VECCOS(VECDIV(VECSIN(CREATEVECTOR(X,Y,Y)),VECSIN(CREATEVECTOR(Y,X,X)))),VECSIN(CREATEVECTOR(Y,X,X)))))),VECTAN(VECTAN(VECMULTIPLY(VECCOS(CREATEVECTOR(0.9051,Y,0.5575)),VECSIN(VECABS(CREATEVECTOR(Y,X,X))))))))",
			"subB": "VECCOS(VECADD(CREATEVECTOR(X,0.0687,0.0793),VECDIV(VECCOS(VECCOS(VECSQR(VECSUBSTRACT(VECSUBSTRACT(CREATEVECTOR(X,X,X),CREATEVECTOR(0.3837,0.2638,0.3757)),CREATEVECTOR(X,Y,X))))),VECSUBSTRACT(VECCOS(CREATEVECTOR(X,Y,Y)),VECCOS(VECABS(CREATEVECTOR(Y,X,X)))))))",
			"subC": "VECDIV(CREATEVECTOR(Y,Y,Y),VECADD(VECABS(CREATEVECTOR(X,0.9347,Y)),VECSUBSTRACT(CREATEVECTOR(0.6904,X,0.8712),VECADD(CREATEVECTOR(0.6295,Y,Y),VECSQR(VECADD(VECTAN(CREATEVECTOR(Y,X,X)),VECTAN(CREATEVECTOR(X,Y,Y))))))))"
		};
		var currentLanguage = "#LANGUAGE#";

		function allowDrop(ev) {
			ev.preventDefault();
		}

		function drag(ev) {
			ev.dataTransfer.setData("Text", JSON.stringify(entitiesDictionary[ev.target.id]));
		}
		
		function drop(ev) {
			ev.preventDefault();
			var result = JSON.parse(ev.dataTransfer.getData("Text"));
			entitiesDictionary[ev.target.id] = result;
			
			if (result[2] == "entity-bw") {
				initGL(canvas);
				initWebGLBW(ev.target.id, result[1]);
				drawEntityImageBW(ev.target.id);
			}
			else if (result[2] == "entity-rgb") {
				initGL(canvas);
				initWebGLRGB(ev.target.id, result[1]);
				drawEntityImageRGB(ev.target.id);
			}
			else if (result[2] == "entity-rgb-composite") {
				initGL(canvas);
				var subA = entitiesDictionary["subA"], subB = entitiesDictionary["subB"], subC = entitiesDictionary["subC"];
				initWebGLRGBComposite(ev.target.id, result[1], subA, subB, subC);
				drawEntityImageRGBComposite(ev.target.id);
			}
			else if (result[2] == "entity-rgb-animate") {
				initGL(canvas);
				initWebGLRGBAnimate("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageRGBAnimate(ev.target.id);
			}
			else if (result[2] == "entity-rgb-animate-interpolation") {
				initGL(canvas);
				initWebGLRGBInterpolatedAnimate("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageRGBInterpolatedAnimate(ev.target.id);
			}			
			else if (result[2] == "entity-text-logo") {
				var canvas = document.getElementById("parent0");
				initGLTextLogo(canvas, "parent0");
				initGLText("parent0", "Verdana");
				initWebGLTextLogo("parent0", entitiesDictionary[id][1], entitiesDictionary[id][4]);
				drawEntityTextLogo("parent0");				
			}
		}
		
		window.onkeydown = handleKeyDown;
		
		function takeOutFull() {
			var div = document.getElementById("cosita");
			div.innerHTML =
				"<div class=\"container\" style=\"padding-top: 60px\">" + 
				"<div id=\"main-div\">" + 
				"<input style=\"display: none\">" + 
				"	<canvas id=\"parent0\" width=\"{{ width }}\" height=\"{{ height }}\" draggable=\"true\" ondragstart=\"drag(event)\" ondragover=\"allowDrop(event)\" ondrop=\"drop(event)\" onclick=\"makeFullscreen()\" style=\"width: 70%\" +  ></canvas>" + 
				"</input>" + 
				"<p>Click on image for fullscreen, arrows and ctrl+arrows to control.</p>" +
				"</div>" + 
				"</div>";
			
			if (document.exitFullscreen) {
			  document.exitFullscreen();
			} else if (document.msExitFullscreen) {
			  document.msExitFullscreen();
			} else if (document.mozCancelFullScreen) {
			  document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
			  document.webkitExitFullscreen();
			}				
			
			var elem = document.getElementById("parent0");
			initGLTextLogo(elem, "parent0");
			initGLText("parent0", "Verdana");	
		} 
		
		function makeFullscreen() {
			var div = document.getElementById("cosita");
			div.innerHTML =
				"<div style=\"display: block\"> " + 
				"<div id=\"divResult\" > " + 
				"	<canvas id=\"parent0\" width=\"{{ width }}\" height=\"{{ height }}\" onclick=\"takeOutFull()\" draggable=\"true\" ondragstart=\"drag(event)\" ondragover=\"allowDrop(event)\" ondrop=\"drop(event)\" style=\"width: " + window.screen.availWidth + "px; height: " + window.screen.availHeight + "px\"></canvas> " + 
				"</div>" + 
				"</div>";

			var elem = document.getElementById("parent0");
			initGLTextLogo(elem, "parent0");
			initGLText("parent0", "Verdana");			
			if (elem.requestFullscreen) {				elem.requestFullscreen();		}
			else if (elem.msRequestFullscreen) {		elem.msRequestFullscreen();		}
			else if (elem.mozRequestFullScreen) {		elem.mozRequestFullScreen();	}
			else if (elem.webkitRequestFullscreen) {	elem.webkitRequestFullscreen();	}
		}
		
		function handleKeyDown(event) {
			if (event.ctrlKey) {
				if (event.keyCode == 38) globalScale += 0.1;
				if (event.keyCode == 40) globalScale -= 0.1;
			}
			else {
				if (event.keyCode == 38) globalYRef += 0.1;
				if (event.keyCode == 40) globalYRef -= 0.1;
				if (event.keyCode == 39) globalXRef += 0.1;
				if (event.keyCode == 37) globalXRef -= 0.1;
			}
		}

		function updateValues() {
			if (prevX != null) {
				globalXRef += difX;
				globalYRef += difY;
				difX = 0.0;
				difY = 0.0;
			}
		}
			
		var startupDraw = function () {			
			if (entitiesDictionary["parent0"][2] == "entity-bw") {
				initWebGLBW("parent0", entitiesDictionary["parent0"][1]);
				drawEntityImageBW("parent0");
			}
			else if (entitiesDictionary["parent0"][2] == "entity-rgb") {
				initWebGLRGB("parent0", entitiesDictionary["parent0"][1]);
				
				setInterval(
					function () {				
						initWebGLRGB("parent0", entitiesDictionary["parent0"][1]);
						drawEntityImageRGB("parent0");
						moveFrame();
					}, 
					30);
			}
			else if (entitiesDictionary["parent0"][2] == "entity-rgb-composite") {
				var subA = entitiesDictionary["subA"], subB = entitiesDictionary["subB"], subC = entitiesDictionary["subC"];
				initWebGLRGBComposite("parent0", entitiesDictionary["parent0"][1], subA, subB, subC);

				setInterval(
					function () {
						initWebGLRGBComposite("parent0", entitiesDictionary["parent0"][1], subA, subB, subC);
						drawEntityImageRGBComposite("parent0");
						moveFrame();
					}, 
					30);
			}
			else if (entitiesDictionary["parent0"][2] == "entity-rgb-animate") {
				initWebGLRGBAnimate("parent0", entitiesDictionary["parent0"][1]);
				setInterval(
					function () {				
						initWebGLRGBAnimate("parent0", entitiesDictionary["parent0"][1]);
						drawEntityImageRGBAnimate("parent0");
						moveFrame();
					}, 
					30);	
			}
			else if (entitiesDictionary["parent0"][2] == "entity-text-logo") {
				var canvas = document.getElementById("parent0");
				initGLTextLogo(canvas, "parent0");
				initGLText("parent0", "Verdana");

				setInterval(
					function () {		
						initWebGLTextLogo("parent0", entitiesDictionary["parent0"][1], entitiesDictionary["parent0"][4]);
						drawEntityTextLogo("parent0");				
						moveFrame();
					}, 
				30);						
			}
				
			document.getElementById('parent0').onkeypress = function(event) {
			  var char = getChar(event || window.event);
			  if (!char) return; // special key
			  console.log("rat");
			  return false;
			}
		};
		
		function moveFrame() {
			//globalXRef += 0.04;
		}
		
		function registerPositionInImage() {
			history.pushState(null, "page 2", '/foo.html');
		}
		
		//initializeContextMenuOn("parent", "context_menu");
	</script>
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>